@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171717;
}

.markdown > * {
  all: revert;
}

.markdown img {
  max-width: 450px;
  margin: auto;
}

.custom-show {
  display: flex;
  transition: all;
  animation: appear 0.2s ease-in;
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.post-image img {
  width: 100%;
}

.linkActive::after {
  content: '';
  height: 3px; /* You can adjust the height to your preference */
  background-color: rebeccapurple;
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
}

.imageView {
  display: flex;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.drag-area:hover .dnd-text {
  display: none;
}

.loader {
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}